/* Empty. Add your own CSS if you like */
.item-select-row{
    padding-left: 0 !important;
}
.item-select-row select{
    -moz-appearance: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 0px 45px 0px 0px;
    max-width: 100%;
    border: medium none;
    background: #FFF none repeat scroll 0% 0%;
    color: #333;
    text-indent: 0.01px;
    text-overflow: "";
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    direction: rtl;
}
.item-avatar-left-middle > img {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
}

#custom-overlay {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    transition: 1s all linear;
    /*border: solid red 4px;*/
    display: none;
    align-items: center;
    justify-content: center;
}

#custom-overlay img {
    transition: 1s all linear;
    /*margin: 0 auto;
	width: 80%;
	display: block;*/
    /*border: solid red 4px;*/
    max-width: 80%;
    flex: 1;
    /*width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    left: 50%;*/
    
}

#custom-overlay.splash-out {
    -webkit-transform: scale(0.1, 0.1) rotate(720deg) !important;
    transform: scale(0.1, 0.1) rotate(720deg) !important;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    visibility: hidden;

}
#custom-overlay.splash-in {
    
}
#custom-overlay.splash-in-tmp img{
    -webkit-transform: scale(.0, .0)!important;
    transform: scale(.0, .0)!important;

}