<div class="list"> 
	<div class="item"> 
		<h3>Desenvolvedor</h3> 
		<h2>Henrique Lino Dias</h5> 
		<p>diaslino.h@gmail.com</p> 
		<h4>Polygon-Games</h4> 
<br />
<a href="javascript:window.open(encodeURI('https://play.google.com/store/apps/details?id=br.polygon4games.senac.cademinhasala'), '_system');">
	<img src="img/google-play.png" style='width:100%; height: 100%'>
</a>
<br/>
<a href="javascript:window.open(encodeURI('https://itunes.apple.com/us/app/cade-minha-sala/id1161279698?ls=1&mt=8'), '_system');">
	<img src="img/apple-store.png" style='width:100%; height: 100%'>
</a>
<br/>
<a href="javascript:window.open(encodeURI('https://www.microsoft.com/store/apps/9nblggh5434x'), '_system');">
	<img src="img/window-store.png" style='width:100%; height: 100%'>
</a>

	</div> 
</div>

