<ion-view view-title="Cursos">

<!--<ion-header-bar  class="bar-positive">
    <div class="buttons">
      <button class="button" ng-click="doSomething()">Left Button</button>
    </div>
    <h1 class="title">Title!</h1>
    <div class="buttons">
      <button class="ion-navicon-round">Right Button</button>
    </div>
  </ion-header-bar>-->
  <ion-content class="padding">
    
    <div class="list">


      <div class="item item-select">


        <select class="input input-select" ng-options="item.nome for item in cursos.cursos" ng-model="selCurso" ng-change="carregaHorarios(selCurso)">
      <option value="">Selecione o Curso</option>
    </select>
      </div>

    </div>
    <div class="list">
      <div class="item item-select">
        <select ng-options="item.Semestre for item in semestres" ng-model="selSem" ng-change="mudaDia(selSem)">
      <option value="">Escolha....</option>
    </select>
      </div>
    </div>



    <div class="card" ng-repeat="item in diasSemana" ng-if="item.horarios.length > 0">
      <div class="item item-divider">{{item.name}}</div>
      <div class="item item-text-wrap" ng-repeat="item2 in item.horarios">
            <h3>{{item2.Disciplina}}</h3>
            <h4>{{item2.faixaHoraria}}</h4>
            <p>{{item2.Professor}}</p>
            <h5>Sala: {{item2.sala}}</h5>
          </div>
    </div>
  </ion-content>
</ion-view>