<ion-view view-title="Cursos">

  <!--<ion-header-bar  class="bar-positive">
    <div class="buttons">
      <button class="button" ng-click="doSomething()">Left Button</button>
    </div>
    <h1 class="title">Title!</h1>
    <div class="buttons">
      <button class="ion-navicon-round">Right Button</button>
    </div>
  </ion-header-bar>-->
  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <!--<button class="button" ng-click="doSomething()">Left Button</button>-->
    </div>
    <h1 class="title">Horários</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-email" ng-click="openModal()" ng-if="userData.flagMessage"></button>
      <button class="button button-icon icon ion-more" ng-click="openPopover($event)"></button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">


    <label class="item item-select item-input">
        <div class="input-label">
          Curso
        </div>
        <select class="input input-select" ng-options="item.nome for item in cursos.cursos" ng-model="selCurso" ng-change="carregaHorarios(selCurso)">
      <option value="">Selecione o Curso</option>
    </select>
      </label>


    <label class="item item-select item-input">
      <div class="input-label">
          Período
        </div>
        <select ng-options="item.Semestre for item in semestres" ng-model="selSem" ng-change="mudaDia(selSem)">
      <option value="">Escolha seu Período...</option>
    </select>
      </label>

    <br/>
    <div class="text-center" ng-if="userData.dias">
      <h5>{{userData.curso.nome}}</h5>
      <h5>{{userData.semestre.Semestre}}</h5>

    </div>

    <div class="card" ng-repeat="item in userData.dias">
      <div class="item item-divider">{{item.name}}</div>
      <div class="item item-avatar item-text-wrap" ng-repeat="item2 in item.horarios">

        <img src="img/user-default.png" alt="{{item2.Professor}}" />
        <h3>{{item2.Disciplina}}</h3>
        <h4>{{item2.faixaHoraria | alterFaixaHoraria}}</h4>

        <p>Professor(a): {{item2.Professor}}</p>
        <h5>Sala: {{item2.sala}}</h5>
      </div>
      <div class="item" ng-if="item.horarios.length < 1">
        <p>Näo exitem registros para este dia</p>
      </div>
    </div>
  </ion-content>
</ion-view>