<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <!--<button class="button"></button>-->
        <h1 class="title">Mensagens</h1>
        <button class="button button-icon icon ion-close-circled" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item">Item_</div>
            <div class="item">Item_</div>
            <div class="item">Item_</div>
            <div class="item">Item_</div>
            <div class="item">Item_</div>
        </div>
    </ion-content>
</ion-modal-view>