<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <!--<button class="button"></button>-->
        <h1 class="title">Mensagens</h1>
        <button class="button button-icon icon ion-close-circled" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content>
        <div class="card" ng-repeat="item in userData.mensagens">
            <div class="item item-divider">
                {{item.titulo}}
            </div>
            <div class="item item-text-wrap">
                <p class="">{{item.data}}</p>
                <h4>{{item.texto}}</h4>
            </div>
        </div>
        <div class="card" ng-if="userData.mensagens.length < 1">
            <div class="item">
                <h3>Sem mensagens no momento</h3>
            </div>
        </div>
    </ion-content>
</ion-modal-view>